$gray-base:              #000 !default;
$gray-darker:            lighten($gray-base, 13.5%) !default; // #222
$gray-dark:              lighten($gray-base, 20%) !default;   // #333
$gray:                   lighten($gray-base, 33.5%) !default; // #555
$gray-light:             lighten($gray-base, 46.7%) !default; // #777
$gray-lighter:           lighten($gray-base, 93.5%) !default; // #eee

$body-bg:                #fafafa !default;
$text-color:             $gray-light !default;
$grid-float-breakpoint:  768px;
$border-radius-base:     2px !default;
$border-radius-large:    2px !default;
$border-radius-small:    2px !default;
$brand-primary:          #009bdb;

@import "bootstrap-sprockets";
@import "bootstrap";

@media (max-width: 480px) {
    .btn-primary {
    	display: block;
    	width: 100%;
    	margin: 2px auto;
    }
}

body {
	padding-top: 60px;
}
.form-control {
	border: 1px solid rgba(34,36,38,.15);
	&:focus {
		border-color: rgba(102, 175, 233, 0.75);
		outline: 0;
		-webkit-box-shadow: inset 0 0 0 rgba(0,0,0,.075),0 0 0 rgba(102,175,233,.6);
		box-shadow: inset 0 0 0 rgba(0,0,0,.075),0 0 0 rgba(102,175,233,.6);
	}
}
.panel-default {
	border: 1px solid rgba(34,36,38,.15);
	box-shadow: 0 1px 2px 0 rgba(34,36,38,.15);
	&.remove-bottom-margin {
		margin-bottom: 0 !important;	
	}
}
.panel-footer {
	&.remove-padding {
		padding: 6px 15px 2px;
	}
}
.panel > .list-group { 
	.list-group-item {
		font-size: small;
	}
}
.logo-form {
	text-align: center;
	padding: 8% 0 0;
}
.links {
	font-size: 12px;
	padding: 5px;
	color: #eee;
}
.form-signin {
	.form-control {
		position: relative;
		font-size: 16px;
		height: auto;
		padding: 10px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		&:focus {
			z-index: 2;
		}
	}
	input[type="email"] {
		margin-bottom: -1px;
		border-radius: $border-radius-base $border-radius-base 0 0;
	}
	input[type="password"] {
		margin-bottom: 10px;
		border-radius: 0  0 $border-radius-base $border-radius-base;
	}
}
.form-signup {
	.form-control {
		position: relative;
		font-size: 16px;
		height: auto;
		padding: 10px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		&:focus {
			z-index: 2;
		}
	}
	input[type="text"] {
		margin-bottom: -1px;
		border-radius: 2px 2px 0 0;
	}
	input[type="email"] {
		margin-bottom: -1px;
		border-radius: 0;
	}
	input[type="password"] {
		margin-bottom: -1px;
		border-radius: 0;
	}
	input[type="password"]:last-child {
		border-radius: 0 0 2px 2px;
	}
}
.pagination {
	margin: 0;
}
select.custom {
	padding-right: 25px;
	background-repeat: no-repeat;
	background-position: right center;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	max-width: 50%;
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20fill%3D%22%23555555%22%20%0A%09%20width%3D%2224px%22%20height%3D%2224px%22%20viewBox%3D%22-261%20145.2%2024%2024%22%20style%3D%22enable-background%3Anew%20-261%20145.2%2024%2024%3B%22%20xml%3Aspace%3D%22preserve%22%3E%0A%3Cpath%20d%3D%22M-245.3%2C156.1l-3.6-6.5l-3.7%2C6.5%20M-252.7%2C159l3.7%2C6.5l3.6-6.5%22%2F%3E%0A%3C%2Fsvg%3E");
	background-color: #f5f5f5;
	-webkit-box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.0);
	box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.0);

}

select.custom::-ms-expand {
	display: none;
}
caption {
	padding-top: 3px;
}
.search-area {
 	border-radius: 2px 2px 0 0;
 	padding: 10px;
 	border-bottom: 1px solid #ddd;
 	background: #f5f5f5;
}
.search-button,
.search-button:hover,
.search-button:focus {
	border-radius: 0 0 2px 2px;
	background: #f5f5f5;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	color: $text-color;
	padding: 5px;
	position: relative;
	text-decoration: none;
}
table .popover{
    width:500px;   
}




























